@charset "UTF-8";

table {
  margin: 20px;
  border: 1px solid #000;
}

tr,th,td {
  text-align: center;
  border: 1px solid #000;
  padding: 4px 20px;
}

div {
  margin: 10px 0;
  padding: 5px 0;
  background-color: lightgray;
}

.task5{
  margin: 0;
  text-align: left;
  border: none;
  padding: 0 7px;
}